
.outside{
    margin: 0 auto;
}
.header{
    height: 600px;
    background-image: url("../picture/熊管家-关于我们-assets/head.png");
    
    width: 100%;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    /* border: 1px solid black; */
}


.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 94px;
    background-color: rgba(0,0,0,0.29);
}

.left-c{
    flex-grow: 5;
}
.right-c{
    flex-grow: 2;
}

.top3{
    margin-right: 23px;
}

.header-top .top1{
    height: 100%;
    width: 362px;
    background-color: #ffffff;
    border-radius: 0px 0px 49px 0px;
    
    position: relative;
}

.top1::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    border-left: 10px solid #14916a;
    border-right: 10px solid transparent;
    border-top:9px solid #14916a;
    border-bottom:9px solid transparent;
}

.top1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 58px;
    box-sizing: border-box;
}


.top-nav li{
    /* height: 100%; */
    height: 95px;
    width: 107px;
    text-align: center;
    float: left;
    display:flex;
    align-items: center;
}

.top-nav::after{
    content: "";
    display: block;
    clear: both;
}

.top-content{
    width: 107px;
    height: 36px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* background-color:white; */
    line-height: 36px;
    position: relative;

    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    /* visibility: hidden; */
    

}


.top-content::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    border:6px solid transparent;
    border-color:#14916a #14916a transparent transparent;
    visibility: hidden;
}


.top-content:hover{
    background-color:white;
    color: black;
    

}
.top-content:hover::after{
    visibility: visible;
}
.liaojiewomen{
    background-color: white;
    color: black;
}
.liaojiewomen::after{
    visibility:visible;
}


.top3{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
}

.top3 div{
    margin-right: 27px;
}

.click:hover{
    opacity: 0.6;
}
.click:hover + div{
    visibility: visible;
}

.QR-code{
    position: absolute;
    top: 96px;
    left: 28px;
    width: 200px;
    height: 200px;
    visibility: hidden;
   
    
}
.QR-code img{
    width:100%;
    height:100%;
}

.aboutme1{
    width: 333px;
	height: 130px;
    background-color: rgba(20,145,106,0.8);

    border-top-left-radius:40px ;
    border-bottom-right-radius: 40px;
    box-sizing: border-box;
    padding-top: 35px;

    position: absolute;
    top: -199px;
    left: 0px;
    opacity: 0.8;
}


.aboutme1 div:nth-of-type(1){
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-left: 192px; 
}
.aboutme1 div:nth-of-type(2){
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 156px;  
    
}
