*{
    margin:0;
    padding:0;
}

li{
    list-style: none;
}

.outside{
    width: 1180px;
    height: 578px;

    margin: 0 auto;
    background-color: rgb(248,249,250);
    /* border:1px solid black */
}

.contain{
    width: 1088px;
    /* border:1px solid black; */
    overflow: hidden;
    margin:0 auto;
}

.contain ul{
    overflow: hidden;
    margin: 0 -25px;
    
}
.nav{
    margin-top: 10px;
}

.nav li{
    width: 33.3%;
    float: left;
}
.nav .contents{
    border: 2px solid #00bcd4;
    margin:0 25px;
    margin-top:68px;
    
    padding:0 30px;

    padding-top: 46px;
    padding-bottom: 35px;
    position: relative;
}

.nav .contents div:nth-of-type(2){
    font-size: 14px;
    font-weight: 600;
}

.nav .contents div:nth-of-type(3){
    font-size: 11px;
    color: #667db7;
    line-height: 25px;
}

.logo{
    position: absolute;
    top: -18px;
    right: 14px;
}


.nav li .first111{

    font-size: 22px;
    font-weight: 600;
    border: 0;
    margin-top: 38px;
    padding-top: 37px;
    padding-bottom: 0px;
}
